<div class="content">
    <!-- <titulo tit="Página de Cadasto" center> </titulo>  -->
    <form role="form">
        <div class="form-group">
            <label for="username">Nome de usuário:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="name">Nome completo:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="pwd">Senha:</label>
            <input type="password" class="form-control" id="pwd">
        </div>
        <button type="submit" class="btn btn-default">Criar conta!</button>
    </form>
</div>