<div class="list-group">
    <a href="#/games/1" class="list-group-item">
        <h4 class="list-group-item-heading">Snake</h4>
        <p class="list-group-item-text">O famoso jogo Snake!</p>
    </a>
    <a href="#/games/2" class="list-group-item">
        <h4 class="list-group-item-heading">Breakout</h4>
        <p class="list-group-item-text">O famoso jogo Breakout!</p>
    </a>
    <a href="#/games/3" class="list-group-item">
        <h4 class="list-group-item-heading">Space Invaders</h4>
        <p class="list-group-item-text">O famoso jogo Space Invaders!</p>
    </a>
</div>