<div class="panel panel-primary">
	<div class="panel-heading text-center">
		<h1>URL para performar testes em geral</h1>
	</div>
</div>
<br>
<div class="panel panel-info">
	<div class="panel-heading">Diretiva Titulo</div>
	<div class="panel-body">
		Diretiva criada para auxiliar na criação de títulos
		<br>
		<titulo tit="Título da Tag" sub="Subtítulo" center>Texto informado como subtexto do título. Pode ser informado o parâmetro CENTER ou omitido, indicando se deve centralizar
			(ou não) o conteúdo da página
		</titulo>
	</div>
</div>
<br>
<div class="panel panel-info">
	<div class="panel-heading">Diretiva Dropdown</div>
	<div class="panel-body">
		<p style="background-color:{{myColor.hex}};">Simula uma combo box, abrindo uma lista com opções para serem selecionadas</p>
		<dropdown id="1" placeholder="Selecione..." list="colorList" selected="myColor" property="name"></dropdown>
	</div>
</div>
<br>
<div class="panel panel-info">
	<div class="panel-heading">Próxima diretiva...</div>
	<div class="panel-body">
		<p>Texto de descrição...</p>
		<!-- Diretiva e explicação -->
		<br>
	</div>
</div>
<br>